@media print {
    // Fix body margin for drawer in print mode.
    body.drawer-open-left.jsenabled,
    body.drawer-open-right.jsenabled {
        margin: 0;
    }

    // Safari fix see: http://v4-alpha.getbootstrap.com/getting-started/browsers-devices/#printing.
    .container {
        width: auto;
    }

    // Firefox fix.
    * { overflow: visible !important; height:auto !important; }
    #page-content,
    #region-main .card,
    #region-main,
    .responsehistoryheader,
    #region-main .row {display:block !important; float:none !important; }
    .qtype_essay_response{padding:5px;}
    .qtype_essay_response *{
        color:#000;
    }

    #region-main .m-t-2.m-b-1{display:none;}
    #page-footer{clear:both;display:block;}
}


